.searchInputs {
    margin-top: 105px;
    display: flex;

  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 15px;
    width: 100%;
  }
  
  .searchIcon {
    height: 45px;
    width: 50px;
    border-radius: 10px;
    background-color: white;
    display: grid;
    place-items: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
 